body {
    background-color: rgb(159, 230, 248);
}
.one {
    margin-top: 150px;
    margin-left: 150px;
}
.hide {
    display: none;
}
.last_call {
    position: absolute;
    left : 50%;
     top : 100px;
}